.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loadingMessage {
  font-size: 2em;
}

.avatarContainer {
  position: relative;
  margin: auto;
}

svg {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

.spyItemContainer {
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px solid black;
}

.filterInputWithCallBackContainer, .moreAgentsButtonContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Large Screens */
@media (min-width: 800px) {
  .spyItemContainer {
    /* max-height: 100px; */
  }

  .avatarContainer svg {
    height: 100px;
    display: block;
  }
}

/* Medium Screens */
@media (min-width: 400px) {
  .spyItemContainer {
    /* Determine reasonable max height here */
  }

  .avatarContainer svg {
    height: 100px;
  }
}

/* Small Screens */
@media (max-width: 399px) {
  .spyItemContainer {
    
  }

  .avatarContainer svg {
    height: 100px;
  }
}

@media (max-width: 200px) {
  .avatarContainer svg {
    height: 50x;
  }
}